!!!
%html
  %head
    %title screen.farm
  :css
    .s { display: block; width: 128px; height: 64px;
      border: solid 2px #333;
      border-radius: 2px;
      background: #444;
      display: inline-block;
      margin: 0px;
    }
    #tablet { width: 48px; height: 32px; }
    #phone { width: 12px; height: 21px; }
    #container {
      width: 160px;
      height: 160px;
      text-align: center
      }


  %body
    #container
      #main.s
      #tablet.s
      #phone.s

