!!!
%html
  %head
    %title screen.farm
    %link{ rel: 'stylesheet', type: 'text/css', href: 'style.css' }
    %script{ src: 'jquery.js' }
    %script{ src: 'qrcode.js' }
    %script{ src: 'script.js' }
  %body
    = yield
