@import url(https://fonts.googleapis.com/css?family=Bitter)
@import url(https://fonts.googleapis.com/css?family=Open+Sans)
@import url(https://fonts.googleapis.com/css?family=Inconsolata)

body
  font-family: Open Sans, sans-serif
  background-color: #ddd
  font-size: 12px
  text-align: center

#logo
  font-size: 2em
  text-shadow: 0.1em 0.2em 0.3em #fff

.value, #url, #logo, input#sco-input, .bookmarklet, .product-name
  font-family: 'Bitter', serif

h2
  font-family: Open Sans, sans-serif
  font-weight: normal
  font-size: 14px
  margin: 0
  padding: 0
  margin-top: 1em
  margin-bottom: 0em
p
  margin: .25em 0

#nametag
  background: white
  border: solid 1px #CCC
  border-radius: 0.5em
  padding: 1em 2em
  display: inline-block
  margin: 1em
  min-width: 23em
  text-align: center


#sco-input
  font-size: 72px
  line-height: 72px
  text-align: center
  border: none 0
  width: 200px


.pane
  margin: 1em
  border-radius: 0.5em
  background: #fff
  display: block

#qrcode-pane
  max-width: 20em
  padding: 1em
  background: white
  text-align: center
  margin: auto
  margin-top: 1em
  > *
    display: block
#qrcode
  width: 256px
  margin: auto
#url
  margin-top: 1em

#sco-pane
  .label
    text-transform: uppercase

.hidden
  display: none

.commands
  a
    display: inline-block
    margin: 0.5em
    text-decoration: none
    color: #249
    background: #EEF
    border-radius: 1em
    padding: 0 1em
    width: 6em
    &:hover
      color: #49F

#about
  text-align: left
  margin: auto
  //max-width: 40em
  p
    text-align: left

code
  background: #333
  color: #EEE
  display: inline-block
  margin: auto
  padding: 0.5em
  border-radius: 0.2em
  font-family: 'Inconsolata', fixed

#screens
  .screen
    display: inline-block
a.bookmarklet
  display: inline-block
  text-decoration: none
  padding: 0.5em
  background: white
  border-radius: 0.2em
  margin: 0.5em
  min-width: 4em
  border: solid 1px #CCC
  color: black


#intro
  max-width: 40em
  text-align: left
  margin: auto

#footer
  margin: 2em 0
